<footer>
  <p>
  Compiled by <a href="https://github.com/Dalgona/Serum">Serum</a>,
  running in <a href="https://elixir-lang.org">Elixir</a>.
  <br/>
  See and change <a href="https://github.com/hyperdemocracy/land">our code</a>.
  </p>
</footer>
